* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;

  background-color: grey;
  height: 10vh;
  position: sticky;
  top: 0;
}
.navbar > ul:nth-child(1) {
  margin-right: auto;
  padding-left: 10px;
}
.navbar img {
  height: 70px;
  width: 100px;
}
.navbar > ul:nth-child(4) {
  padding-right: 10px;
}
.navbar ul {
  font-size: 1.25em;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.navbar ul:hover {
  scale: 1.05;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 0;
  padding-right: 10px;
}
.search form {
  display: flex;
  margin: 0;
}
.search input {
  padding: 10px;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 16px;
}
.search input:hover {
  border: 1px solid #72a0d4;
}
.search button {
  padding: 10px;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  color: #333;
  font-size: 19px;
  cursor: pointer;
}
.search button:hover {
  background-color: #ccc;
}
.hero-container {
  display: flex;
  align-items: center;
}
.hero-container img {
  min-width: 0;
  width: 100%;
  height: auto;
  flex: 1 1 0;
}

.hero-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  min-width: 322px;
}
.hero-text a {
  align-self: center;
  padding: 5px;
  margin-top: 20px;
  height: 6vh;
  border-radius: 8px;
  border: none;
  width: 50%;
  background: linear-gradient(to left, #5f7cff, #9bb7ff);
  font-size: 1.5em;
  color: gold;
  text-align: center;
  text-decoration: none;
}
.hero-text a:hover {
  scale: 1.05;
  cursor: pointer;
}
.hero-text h1 {
  font-weight: bolder;
}
.hero-text p {
  padding-right: 40px;
  text-align: justify;
  color: green;
  font-style: oblique;
  justify-items: center;
}

footer {
  position: absolute;
  bottom: 0;
}
.social-icons {
  display: flex;
  gap: 10px;
  padding: 10px;
}
.social-icons img {
  width: 24px;
  height: 20px;
}
footer li {
  list-style: none;
}
footer img:hover {
  scale: 1.2;
}

@media (max-width: 620px) {
  .hero-container{
    display: flex;
    flex-direction: column;
  }
  .hero-text p{
    padding: 10px;
  }
  .hero-text h1{
    padding: 10px;
  }
  .social-icons{
    display: none;
  }
  
}
